body {
    background-color: #F5F8FA;
    font-family: sans-serif;
}

.main {
    display: flex;
    align-items: center;
}

.bookCollection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.book {
    margin: 10px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    min-width: 300px;
}

.title {
    font-size: 1.5rem;
    margin: 0;
    font-weight: bold;
}

.author,
.pages {
    text-transform: uppercase;
    opacity: 0.4;
    margin: 0;
}

.buttons-modal {
    margin-top: 20px;
}

.buttons-modal>button {
    border: none;
    padding: 5px 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: white
}

.finished {
    background-color: rgb(104, 165, 98);

}

.finished:hover {
    background-color: rgb(35, 164, 23);
}

button.unfinished {
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.455);

}

.unfinished:hover {
    background-color: rgb(234, 234, 234);
}

.delete {
    background-color: rgb(241, 125, 86);

}

.delete:hover {
    background-color: rgb(241, 86, 86);
}